@tailwind base;
@tailwind components;
@tailwind utilities;


*,html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.location-finder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  z-index: 2;
}

/* App.css */
.carousel-container {
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
}

.carousel-container img {
  width: 100%;
  max-height: 80vh;
  height: auto;
  object-fit: cover; /* This ensures the image covers the container while preserving its aspect ratio */
}
